<div>
  <h1>Hola {{ userName }}!</h1>
  <p>Gracias por registrarte.</p>
  <p>Por favor, activa tu cuenta haciendo clic en el siguiente enlace:</p>
  <p><a href="{{ activationLink }}">Activar Cuenta</a></p>
  <p>Saludos,<br>El equipo</p>
</div>
